[Unit]
Description=MRI Diffusion System Backend
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/Project/mri-diffusion-system

EnvironmentFile=/root/Project/mri-diffusion-system/.env

Environment="SELFRDB_FORCE_CPU=1"
Environment="OMP_NUM_THREADS=2"
Environment="TORCH_THREADS=2"
Environment="MKL_NUM_THREADS=2"
Environment="OPENBLAS_NUM_THREADS=2"
Environment="OMP_WAIT_POLICY=PASSIVE"

ExecStart=/root/Project/mri-diffusion-system/.venv/bin/gunicorn -c gunicorn_config.py BackEnd.app:app

Restart=on-failure
RestartSec=10

LimitNOFILE=4096
OOMScoreAdjust=-500

[Install]
WantedBy=multi-user.target
